body{
    margin:0px;
    font-family: "Poppins";
}

#menu{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    font-size: small;
    gap:3.5em;
    padding-top: 1em;
    font-weight: 400;
}

.boton{
    display: flex;
    background-color: #696057;
    color: white;
    width: 8.5em;
    height: 1.3em;
    text-align: center;
    align-content: center;
    justify-content:center;
    border-radius: 1.5em;
    padding-top:0.5em ;
    padding-bottom:0.5em ;
}

#apartados{
    padding-top: 1.3em;
}

#apartado_boton{
    padding-top: 0.5em;
}

#hero{
    height: 40em;
    background-image: url(Imagenes/Group\ 11.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.hero_texto{
    display: flex;
    flex-direction: column;
    padding-left: 7.5em;
    padding-top: 6em;
    color: white;
    width: 30em;
    gap:0.5em;
}

p{
    margin: 0px;
}

h2{
    margin: 0px;
}

.titulo{
    font-weight: 600;
    display: inline-flex;
    background-color: white;
    color:#3C3C3C;
    padding: 0.2em;
    padding-left: 0.4em;
    width: 12em;
    
}


.titulo_{
    font-weight: 600;
    display: inline-flex;
    background-color: white;
    color:#3C3C3C;
    padding: 0.2em;
    padding-left: 0.4em;
    width: 20em;
}

#titulo_hero{
    display: flex;
    flex-direction: column;
    gap:0.6em;
    padding-top: 1.4em;
}

.subtituto_hero{
    font-size: medium;
}

.texto_hero{
    font-weight: 300;
    width: 22em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.linea{
    border: 0.05em white solid;
    width: 15em;
}

.empresa{
    font-size: 1.5em;
    font-weight: 600;
}

.boton2{
    display: flex;
    background-color: #45270E;
    color: white;
    width: 8.5em;
    height: 1.5em;
    text-align: center;
    align-content: center;
    justify-content:center;
    border-radius: 1.5em;
    padding-top:0.5em ;
    padding-bottom:0.5em ;
}

#Servicios{
    display: flex;
    flex-direction: column;
}

#encabezado{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding-top: 5em;
    gap:1em;
}

#titulos{
    color: #3C3C3C;
    font-size: xx-large;
    font-weight: 600;
}

#textos{
    margin-left: 30em;
    margin-right: 30em;
    text-align: center;
    padding-bottom: 2em;
}

#cajas{
    display: grid;
    grid-template-areas: "caja1 caja2 caja3"
                         "caja4 caja5 caja6";
    gap:0.5em;
    padding: 1em;
    margin-left: 10em;
    margin-right: 10em;
    justify-content: center;
}

#caja1{
    height: 15em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-area: caja1;
    background-color: #F6F4F2;
}

#caja2{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-area: caja2;
    background-color: #F6F4F2;
}

#caja3{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-area: caja3;
    background-color: #F6F4F2;
}

#caja4{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-area: caja4;
    background-color: #F6F4F2;
}

#caja5{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-area: caja5;
    background-color: #F6F4F2;
}

#caja6{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-area: caja6;
    background-color: #45270E;
    color:white;
}

h3{
    font-size: large;
    color:#3C3C3C;
}

#texto_servicio{
    font-size: medium;
    padding-bottom: 2em;
}

